*{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    padding: 1em;
}
header nav ul{
    display: flex;
}
header h1 { 
    margin-right: 2em;
    font-family: serif;
}
header ul{
    list-style-type:none;
}
ul li {
    margin: 0 1.5em;
    transition: .5s;
}
ul li:hover {
    transform: translateY(-2px);
}
header a {
    color: black;
    text-decoration: none;
}
a:hover {
}
.container1 {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
main {

border-radius: 10px;
 margin: 2em;
 padding: 2em;
 background-color: white;
}
.left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: calc(100%/2);
    /* background-color: azure; */
}
.startbtn {
	font-size: 1em;
    margin-top: 1em;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: green;
}
.textContent{
	margin-left: 5%;
}