<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddExpenses InAndEx Data</title>
</head>
<body>
    <h1>AddExpenses</h1>
    
    <!-- ฟอร์มสำหรับแก้ไขข้อมูล -->
    <form th:action="@{/editE/{id}(id=${data.id})}" th:object="${data}" method="post">
     	<label for="income">Expenses:</label><br>
        <input type="text" id="expenses" name="expenses" ><br>
        <label for="income">Expenses Detail:</label><br>
        <textarea id="expensesdetail" name="expensesdetail" ></textarea><br>
        <input type="hidden" id="income" name="income" th:field="*{income}"><br>
        <textarea style="display: none;" id="incomedetail" name="incomedetail" th:field="*{incomedetail}"></textarea><br>
        <input type="submit" value="Add Expenses">
    </form>
       
</body>
</html>