<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>กรอกข้อมูลนะ</h1>
	
	<form action="/add" method="get">
  <label for="income">รายรับ:</label><br>
  <input type="text" id="income" name="income"><br>
  <label for="incomedetail">รายละเอียด:</label><br>
  <textarea type="text" id="incomedetail" name="incomedetail"></textarea><br><br>
  <label for="expenses">รายจ่าย:</label><br>
  <input type="text" id="expenses" name="expenses"><br><br>
  <label for="expensesdetail">รายละเอียด:</label><br>
  <textarea type="text" id="expensesdetail" name="expensesdetail"></textarea><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>