<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily</title>
    
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/diary.css">
    <script>

        function deleteDiary(diaryId) {
            if (confirm("Are you sure you want to delete this diary?")) {
                window.location.href = '/deleteDiary/' + diaryId;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>1DAYDAILY</h1>
            <nav>
                <ul>
                    <li><a href="/">หน้าหลัก</a></li>
                    <li><a href="/listContent">สิ่งที่ต้องทำ</a></li>
                    <li><a href="/diary">บันทึกประจำวัน</a></li>
                    <li><a href="/showInAndEx">รายรับรายจ่าย</a></li>
                    <li><a href="/random">สุ่มหรรษา</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <div class="left-content">
                <h1>บันทึกประจำวัน                              
                    <form action="/search" method="get">
                        <input type="text" id="searchInput" name="q" placeholder="ค้นหา...">
                        <button type="submit" id="searchButton">ค้นหา</button>
                    </form>
                </h1>
                <div class="scroll">
                    <div th:if="${not #lists.isEmpty(searchResult)}">
                        <div class="items-d" th:each="result : ${searchResult}">
                            <h3>หัวข้อบันทึก: <span th:text="${result.name}"></span></h3>
                            <p class="head-des">รายละเอียด:</p>
                            <p class="des"> <span th:text="${result.massage}"></span></p>
                            <a th:href="'/editDiary/' + ${result.id}" style="background-color: orange; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;">Edit</a>
                            <a href="#" th:onclick="deleteDiary([[${result.id}]]);" style="background-color: red; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;">Delete</a>
                        </div>
                    </div>
                    <div th:if="${not #lists.isEmpty(listDiary)}">
                        <div class="items-d" th:each="diary : ${listDiary}">
                            <h3>หัวข้อบันทึก: <span th:text="${diary.name}"></span></h3>
                            <p class="head-des">รายละเอียด:</p>
                            <p class="des"> <span th:text="${diary.massage}"></span></p>
                            <a th:href="'/editDiary/' + ${diary.id}" style="background-color: orange; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;">Edit</a>
                            <a href="#" th:onclick="deleteDiary([[${diary.id}]]);" style="background-color: red; color: white; padding: 5px 10px; text-decoration: none; border-radius: 5px;">Delete</a>
                        </div>
                    </div>
                    			        <!-- ถ้าไม่มีรายการบันทึก -->
			        <div th:if="${#lists.isEmpty(listDiary)}">
			            <p>ยังไม่มีข้อมูลที่ท่านได้บันทึก...</p>
			        </div>

                   
                </div>
            </div>
            <div class="right-content">
                <h1>หัวข้อบันทึก</h1>
                <form action="/insertDiary" method="post">
				        <label for="name">ชื่อบันทึก:</label><br>
				        <input type="text" id="name" name="name" required><br>
				
				        <label for="message">ข้อความ:</label><br>
				        <textarea id="massage" name="massage"required></textarea><br>
				        <button class="subbtn" type="submit" style="background-color: green; color: white; padding: 5px 10px; border: none; border-radius: 5px;">บันทึก</button>
				    </form>
            </div>
        </article>
    </div>
    
</body>
</html>