<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<button onclick="window.location.href='/diary'">กลับ</button>
	<form action="/adddiary" method="post">
                <label for="entryName">ชื่อบันทึก:</label>
                <input type="text" id="name" name="name" required><br><br>
                
                <label for="message">ข้อความ:</label><br>
                <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
                
                <button type="submit">บันทึก</button>
            </form>

</body>
</html>