<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/addEntry" method="post">
                <label for="entryName">ชื่อบันทึก:</label>
                <input type="text" id="entryName" name="entryName" required><br><br>
                
                <label for="entryMessage">ข้อความ:</label><br>
                <textarea id="entryMessage" name="entryMessage" rows="4" cols="50" required></textarea><br><br>
                
                <button type="submit">บันทึก</button>
            </form>

</body>
</html>