<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link rel="stylesheet" href="css/home.css">
<style>
</style>
</head>
<body>
    <div class="container">
        <header>
            <h1>1DAYDAILY</h1>
            <nav>
                <ul>
                    <li><a href="/">หน้าหลัก</a></li>
                    <li><a href="/listContent">สิ่งที่ต้องทำ</a></li>
                    <li><a href="/diary">บันทึกประจำวัน</a></li>
                    <li><a href="/showInAndEx">รายรับรายจ่าย</a></li>
                    <li><a href="/random">สุ่มหรรษา</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="left">
                <div class="textContent">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <h1>An Adventure Awaits,<br> What are you waiting for?</h1>
                    <button onclick="window.location.href='/listContent'" class="startbtn">Get Start?</button>
                </div>
            </div>
            <div class="right"></div>
        </main>
    </div>
</body>
</html>