<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/inadnex.css">


</head>
<body>
	<header>
            <h1>1DAYDAILY</h1>
            <nav>
                <ul>
                    <li><a href="/">หน้าหลัก</a></li>
                    <li><a href="/listContent">สิ่งที่ต้องทำ</a></li>
                    <li><a href="/diary">บันทึกประจำวัน</a></li>
                    <li><a href="/showInAndEx">รายรับรายจ่าย</a></li>
                    <li><a href="/random">สุ่มหรรษา</a></li>
                </ul>
            </nav>
        </header>
    <h1>รายรับ - รายจ่าย</h1>
    <p>แสดงเกี่ยวกับรายรับและรายจ่าย</p>
    <div class="container">
    <div class="box data-box">
        <ul class="data-list">
            <li th:each="data : ${list}" class="data-item">
                <div class="data-item-box">
				    <span>วันที่: <span th:text="${#dates.format(data.date, 'd MMMM yyyy')}"></span></span><br><br>
				    <span>รายรับทั้งหมด: <span th:text="${data.income}"></span> บาท</span><br>
				    <span>รายจ่ายทั้งหมด: <span th:text="${data.expenses}"></span> บาท</span><br>
				    <p>รายรัยสุทธิ: <span th:text="${data.income - data.expenses}"></span> บาท</p>
				    <br>
				    <div class="mn1">
						<a class="action-button detail-button1" th:href="@{'/detail/' + ${data.id}}">Detail</a><br>
				    <a class="action-button detail-button2" th:href="@{'/edit/' + ${data.id}}">FullEdit</a><br>
				    <a class="action-button detail-button3" th:href="@{'/delete/' + ${data.id}}">Delete</a>
					</div>
				    
				</div>
            </li>
        </ul>
    </div>
    <div class="box form-container">
        <form action="/showInAndEx" method="get">
            <label for="searchId">ค้นหาตามวันที่:</label><br>
            <select id="searchId" name="searchId" required>
                <option value="">เลือกวันที่</option>
                <option value="">เลือกทั้งหมด</option>
                <option th:each="data : ${list}" th:value="${data.id}" th:text="${#dates.format(data.date, 'd MMMM yyyy')}"></option>
            </select>
            <input type="submit" value="ค้นหา">
        </form><br>
        <form action="/add" method="get">
            <label for="dateInput">เลือกวันที่ต้องการเพิ่ม:</label><br>
            <input type="date" id="date" name="date" required>
            <input type="submit" value="AddDay">
        </form><br>
        <form action="/editI" method="get">
            <label for="income">เพิ่มรายรับ:</label><br>
            <select id="incomeId" name="id" required>
                <option value="">เลือกวันที่</option>
                <option th:each="data : ${list}" th:value="${data.id}" th:text="${#dates.format(data.date, 'd MMMM yyyy')}"></option>
            </select>
            <input type="submit" value="Add Income">
        </form><br>
        <form action="/editE" method="get">
            <label for="expenses">เพิ่มรายจ่าย:</label><br>
            <select id="expensesId" name="id" required>
                <option value="">เลือกวันที่</option>
                <option th:each="data : ${list}" th:value="${data.id}" th:text="${#dates.format(data.date, 'd MMMM yyyy')}"></option>
            </select>
            <input type="submit" value="Add Expenses">
        </form>
    </div>
</div>
    
</body>
</html>